[2013-01-18 18:44] janl opened #2 "Detect NODE_PATH and adjust -service.plist on install"

[2013-01-18 18:44] janl opened #3 "Make non-global"

[2013-01-18 18:45] janl opened #4 "Add logging to local-tld-service"
Gotta debug

[2013-01-21 19:51] janl commented on #2
fixed

[2013-01-22 19:54] #2 closed, assigned to nobody

[2013-01-30 12:39] espy opened #5 "Local-TLD blocks vhost resolution"
Vhosts are no longer accessible when running a Hoodie app, and even after stopping the app. This helps:

[code]

Direct access to localhost is only occasionally affected by Hoodie, but vhosts are always blocked.

[2013-01-30 13:37] janl commented on #5
fixed in local-tld 3.0.1 (I hope :)

To install:

[code]

Hoodie apps and other services on port 80 like apache httpd should just work now.

This doesn’t create compat with pow yet though.

[2013-01-30 13:56] janl commented on #3
extracted the `require`-able part into local-tld-lib.

currently no fun way to get local-tld proper into a non-global thing.

[2013-01-30 13:56] #3 closed, assigned to nobody

[2013-01-30 15:17] janl commented on #5
Fixed in 69c255a7b3536c338285d710163edd94ed869578

[2013-01-30 22:48] janl opened #6 "virtual machines can’t connect to host’s apache."
via @ssp.

I suspect the firewall rule jumping onto 127.0.0.1 instead of 0.0.0.0 might be the issue.

also: what would pow do.

[2013-02-08 19:35] espy commented on #5
Localhost and local-tld now work in parallel, which is great, but vhosts are still broken. The Hoodie must be stopped, unloaded with `launchctl unload ~/Library/LaunchAgents/ie.hood.local-tld-service.plist` and `sudo ipfw flush`ed before vhosts will work.

[2013-02-08 19:41] janl commented on #5
note for @janl: parse /etc/hosts for ^127.0.0.1 entries and route them as well.

[2013-02-08 19:46] espy commented on #5
Another note for @janl: Don't forget IPv6:
::1
fe80::1%lo0

[2013-03-14 16:23] gryzzly commented on #5
Will buzz here so that you guys know people run into this problem.

[2013-03-14 16:34] espy commented on #5
Just to sum this up: Here's a temporary workaround for the time being.

To get your vhosts back: `$ sudo ipfw flush`

To get local-tld back: `$ npm install -g local-tld`

To find out which state you're in: `$ sudo ipfw list`
If this includes something like "00100 fwd 127.0.0.1,5999 tcp from any to me dst-port 80 in", local-tld is currently running and might be blocking your vhosts.

[2013-03-14 17:15] gryzzly commented on #5
Perhaps it'd make sense for this to be in README for Hoodie esp. since it's advertised for front end people who often work with built-in apache and vhosts. Many I think won't realize their vhosts stopped working because of hoodie install (I happened to have some experience with POW and read README for npm module so I had an idea it could mess it up).

[2013-03-14 17:23] espy commented on #5
Good idea, done! Thanks :)

[2013-03-18 15:19] janl commented on #5
I looked into it a bit and didn’t find a satisfying solution. Even Pow has a note up front in the docs about this.

I will keep working on this on this side, but I don’t have high hopes.

[2013-03-18 15:39] espy commented on #5
Ok then. Alternatives:
- Better documentation, so no-one runs into this unprepared. I'd also add this to the output each `$ hoodie start` prints out.
- Hoodie automatically deactivating local-tld when all hoodie instances are stopped, and reactivating it as soon as one starts. No idea if this is possible.

The only thing this would really break is using a Hoodie API from a vhosted project, which i

[2013-03-18 15:45] janl commented on #5
I think the “turn on when required” option can work. +1 for docs for now.

[2013-03-19 11:45] janl opened #7 "add local-tld enable / disable convenience commands"
basically all you need ist this:
- disable: sudo ipfw flush
- enable: sudo launchctl load -Fw /Library/LaunchDaemons/ie.hood.local-tld-firewall.plist
  we can make that convenience binaries, so you can do

  $ local-tld disable
  $ local-tld ensable

In order to avoid flushing unrelated firewall rules we can do something like this on disable:

[code]

[2013-04-08 23:23] michaelmior opened #9 "local-tld-service repo doesn't exist"
Perhaps this is just a documentation update?

[2013-04-08 23:30] #9 closed, assigned to nobody

[2013-04-08 23:30] janl commented on #9
Indeed, thanks! :)

[2013-04-09 08:11] nborwankar opened #10 "installing local-tld via npm as sudo gives errors"
- sudo npm install -g local-tld  or npm install -g local-tld

ends up in a prompt that asks for my sudo passwd but doesn't recognize it.

All other sudo commands work and my passwd works on those
- just as an A/B test I tried
  sudo npm install -g request
  that works

Even when I have just used sudo a few seconds before on another command which worked I still get asked for my passwd and it fails.

[2013-04-09 10:12] jbolila commented on #10
I had an identical problem, that stopped happening when I went from the iTerm to Terminal, see [this](https://github.com/mxcl/homebrew/wiki/Common-Issues#launchctl-refuses-to-load-launchd-plist-files) from homebrew wiki.

[2013-04-09 14:52] janl commented on #10
wow, that is crazy obscure!

[2013-04-09 15:18] nborwankar commented on #10
I am using Terminal not iTerm all along.
Nitin

Nitin Borwankar nborwankar@gmail.com
On Apr 9, 2013 3:12 AM, "João Bolila" notifications@github.com wrote:

[2013-04-09 15:23] nborwankar commented on #10
Also the errorb shown on brew wiki doesn't apply to me. I have a sudo issue
not a socket issue.  The second potential cause in the wiki doesn't apply
eithe r.  Although the problemn does arise during launchctld invocation.
Sounds like a permissions issue in my case.

Nitin

Nitin Borwankar nborwankar@gmail.com
On Apr 9, 2013 8:18 AM, "Nitin Borwankar" nborwankar@gmail.com wrote:

[2013-04-09 16:12] bbn commented on #10
Exact same sudo problem for me.
In case it's helpful, here's the npm install log: https://gist.github.com/bbn/5347136

[2013-04-09 22:15] nborwankar commented on #10
Is this an OS Version issue?

Can Hoodie developers say on home page what OSX version including minor
version, this actually has been tested on.
Perhaps only Lion has been tested?  I am on Snow Leopard.
Also versions of Ruby, Nodejs, Homebrew.
Does it matter if one is using OpenDNS - does this interact badly with the
mdns implementation used to create local-tld?

Also just FYI - I have been using

[2013-04-09 22:26] janl commented on #10
@bbn it looks like you are on Mountain Lion (Like I am), is that correct?

[2013-04-09 22:32] janl commented on #10
Maybe :)

I know we did have issues on a Snow Leopard once, but I believe we fixed them, but the developer moved to Mountain Lion now, and I haven’t checked back.

I have a Snow Leopard that I can try this with at some point, but capacity at this very moment, so for now, yes, assume Latest Mac OS X.

[code]

Shouldn’t, but you never know, Mac OS X’s DNS resolution ways are dark and mysterious (and

[2013-04-09 22:33] janl commented on #10
@nborwankar silly question, but you don’t happen to run into having caps lock set for typing the password that one time or anything?

[2013-04-09 22:42] bbn commented on #10
Yes - most recent OS.

On Tue, Apr 9, 2013 at 6:26 PM, Jan Lehnardt notifications@github.com
wrote:

[2013-04-09 22:47] janl commented on #10
@bbn excellent, thanks, do you have any other oddities on your system that might help resolve this, because I literally have no fucking clue why this should happen, albeit I admit that what we are doing (`sudo` in an `npm postinstall` script is pretty dirty.

[2013-04-09 23:03] janl commented on #10
I just pushed a commit (https://github.com/hoodiehq/local-tld/commit/e5c32331082c24d68039e91b1daaad55bdb12922) and version 3.0.3 to NPM that might solve this. Can you give it a shot?

Note that you are expected to run `npm install -g local-tld` not `sudo npm…` If you get permission errors, try starting from scratch by doing `sudo npm uninstall -g local-tld`.

[2013-04-09 23:17] nborwankar commented on #10
OK - stupid me - I am on Mountain Lion , not Snow Leopard, those two word
wild cats confuse me :-)

Other versions

ruby -v
ruby 1.9.3p327 (2012-11-10 revision 37606) [x86_64-darwin11.4.2]
$ brew -v
Homebrew 0.9.4
$ node -v
v0.10.3

Nitin

---

Nitin Borwankar
nborwankar@gmail.com

On Tue, Apr 9, 2013 at 3:32 PM, Jan Lehnardt notifications@github.comwrote:

[2013-04-09 23:19] janl commented on #10
@nborwankar can you try the latest local-tld 3.0.3 I just pushed: https://github.com/hoodiehq/local-tld/issues/10#issuecomment-16145973

[2013-04-09 23:21] nborwankar commented on #10
Will try again - BTW both those command lines with or without "sudo ..."
gave the same behavior eventually.
Also I've been away from the node dev world for about a year and ITMW the
idiom has changed from "don't use sudo with npm" to "use sudo with npm ".
So I have no f'in idea which one is the idiom du jour and in this kind of
situation I will try one then the other just for A/B purposes.
In this

[2013-04-09 23:22] nborwankar commented on #10
OK so you want me to do an npm-install from inside the git repo, to get the
lates code right?

---

Nitin Borwankar
nborwankar@gmail.com

On Tue, Apr 9, 2013 at 4:19 PM, Jan Lehnardt notifications@github.comwrote:

[2013-04-09 23:23] janl commented on #10
On Apr 10, 2013, at 00:21 , Nitin Borwankar notifications@github.com wrote:

We are doing some crazy things, regardless of the mainline node doctrine :)

Jan

[2013-04-09 23:24] janl commented on #10
Nope, it’s all on NPM already (<3 NPM).

Do this:

[code]

(note that it wants to install local-tld version `3.0.3`.)

[2013-04-09 23:30] janl commented on #10
(3.0.4 now, don’t mind me fixing)

[2013-04-09 23:39] nborwankar commented on #10
Ha! Catch22!

$ sudo npm uninstall -g local-tld #optionsl
<hits same sudo loop! doesn't recognize my passwd>

I can just go rm -rf the local-tld dir in lib/node_modules and/or lib/node
Does the installer leave droppings anywhere else?

Nitin

---

Nitin Borwankar
nborwankar@gmail.com

On Tue, Apr 9, 2013 at 4:24 PM, Jan Lehnardt notifications@github.comwrote:

[2013-04-09 23:41] janl commented on #10
lolcopter :D

rm -rf the local-tld foler in your -g node_modules and manually run the contents of https://github.com/hoodiehq/local-tld/blob/master/bin/local-tld-uninstall

[2013-04-10 01:30] nborwankar commented on #10
Jan,

So what was the issue you fixed?

I did the local uninstall and worked like a charm.

18:22][nitin@nitinmacbookpro:~/git/local-tld/bin(master)]$
./local-tld-uninstall
- sudo launchctl unload
  /Library/LaunchDaemons/ie.hood.local-tld-firewall.plist
- launchctl unload
  /Users/nitin/Library/LaunchAgents/ie.hood.local-tld-service.plist
- sudo rm -f /Library/LaunchDaemons/ie.hood.local-tld-fire

[2013-04-10 01:44] nborwankar commented on #10
So after the rest of the install which worked without errors, I created a
hoodie app and am getting other errors.  That's a separate issue so I'll
open a different one.
This one is now "works for me" :-)

---

Nitin Borwankar
nborwankar@gmail.com

On Tue, Apr 9, 2013 at 6:29 PM, Nitin Borwankar nborwankar@gmail.comwrote:

[2013-04-10 02:11] pagameba commented on #10
The reason this is breaking is because you are running npm with sudo and within the postinstall script it is running sudo on some embedded commands.  The context for sudo in the postinstall script is then incorrect and matches no known user so no password will match.  I think that it should incorporate something like this:

if [ `id -u` -eq 0 ]
then
    mkdir -p /etc/resolver
    cp $ETC/resolver.

[2013-04-10 15:35] mdlawson opened #11 "Windows support"
I've been looking into how to get the whole hoodie setup working on windows, and my starting point has been local-tld, as its the least cross platform element currently, and just the concept seemed quite cool for other uses.

After researching a bit around window's host resolution system, it sadly seems the only way to implement local-tld's functionality is to use the hosts file.
The only function

[2013-04-10 18:14] janl commented on #11
We need to look into something simliar for linux (cc @caolan) I think being able to edit `/etc/hosts` and work with ports instead of custom dns is a fine way to get this done. We can always make it even nicer later.

[2013-04-10 18:14] janl commented on #11
And thanks for looking into the windows side! :)

[2013-04-10 18:35] mdlawson commented on #11
unix `/etc/hosts` is exactly the same structure, so my snippet should work if the value of HOSTS is swapped out, and the line endings are fixed to be cross platform. Its a bit messy, but I think its probably the safest way of doing things. Ill look into it, and see about integrating things up properly into a pull request.

[2013-04-10 18:43] bbn commented on #10
got it to work by manually wiping the install, changing the perms on my global module folder, then reinstalling without sudo.

not ideal - recommend perhaps rethinking whether this component is necessary for hood.ie

[2013-04-10 18:46] janl commented on #11
IIRC there are modules for that too. Yay :)

On 10.04.2013, at 19:35, Michael Lawson notifications@github.com wrote:

[2013-04-10 19:23] mdlawson commented on #11
Updated my gist with cross platform ready code, not entirely sure how to best do a pull request though, depends on if the dns trick is still going to be used on mac os or the hosts file can be used there as well.

<del>strike that, got some bugs. Ill fix it up.</del>

Panic over, os.EOF instead of os.EOL is a pretty stupid typo.

[2013-04-10 19:44] Phunky commented on #5
I don't seem to suffer from this while running hoodie, although I am running homebrew versions of Apache and PHP.

[2013-04-11 10:40] janl commented on #10
local-tld is definitely part of the whole hoodie experience, there is no question. But given it’s brittle nature an trouble porting it to other systems with verbatim functionality makes me ponder making this an optional add-on for mac folks.

Before going there thought, I’d like to try and hammer out the kinks to see if it can be done :)

[2013-04-11 11:06] janl commented on #10
@pagameba thanks, I committed 26870b4 which does just that, thanks :)

[2013-04-11 12:08] pagameba commented on #10
you are welcome!  I came across local-tld through a link to hood.ie, which sounds awesome.  I wanted to try local-tld and ran into some difficulty so I was checking the issues and thought I might be able to lend some insight on this issue, glad it was of use :)  Sadly I couldn't get local-tld to do anything and I ran out of time to troubleshoot it further.

[2013-04-11 14:25] cupofjoakim commented on #10
I'm also having difficulties. Being given the typical sudo-loop just as @nborwankar. I erased everything and tried 'npm install -g local-tld' without sudo, here's the error:

npm ERR! Error: EACCES, open '/Users/joakim/.npm/8993e262-local-tld.lock'
npm ERR!  { [Error: EACCES, open '/Users/joakim/.npm/8993e262-local-tld.lock']
npm ERR!   errno: 3,
npm ERR!   code: 'EACCES',
npm ERR!   path: '/Users

[2013-04-11 14:28] pagameba commented on #10
If you previously ran the command with sudo then there are likely some root-owned files left around, try deleting the lock file at /Users/joakim/.npm/8993e262-local-tld.lock manually and running it again.

[2013-04-11 14:52] cupofjoakim commented on #10
It kind of puzzles me, but /Users/joakim/.npm/8993e262-local-tld.lock doesn't exist.

[2013-04-11 14:53] pagameba commented on #10
what about permissions on /Users/joakim/.npm, is it writable by your user?

[2013-04-11 14:56] janl commented on #10
I pushed a bunch of updates that should fix this. The problem is that you now have old artefacts that don't have the fixes.

Try this:

sudo rm -rf /path/to/global/node_modules
sudo chmod -R $USER /path/to/global/node_modules
npm install local-tld

On 11.04.2013, at 15:25, Joakim Wimmerstedt notifications@github.com wrote:

[2013-04-11 14:58] cupofjoakim commented on #10
It wasn't, so I changed it and now I recieved a new error:

npm http GET https://registry.npmjs.org/local-tld
npm http 304 https://registry.npmjs.org/local-tld
npm http GET https://registry.npmjs.org/local-tld/-/local-tld-3.0.5.tgz
npm http 200 https://registry.npmjs.org/local-tld/-/local-tld-3.0.5.tgz
npm ERR! Error: EPERM, chown '/Users/joakim/.npm/local-tld/3.0.5/package.tgz'
npm ERR!  { [Error

[2013-04-11 15:05] isaacs commented on #10
`sudo npm cache clean -f`

On Thu, Apr 11, 2013 at 7:58 AM, Joakim Wimmerstedt <
notifications@github.com> wrote:

[2013-04-11 15:06] janl commented on #10
Not sure, it looks like your NPM install is a bit hosed. Try making sure all paths belong to your current user.

On 11.04.2013, at 15:58, Joakim Wimmerstedt notifications@github.com wrote:

[2013-04-11 15:33] cupofjoakim commented on #10
Okay, so now I've cleansed my system from node (followed guide for node to make sure everything was gone), together with all the downloaded files, reinstalled them both, but still an error.

npm http GET https://registry.npmjs.org/local-tld
npm http 304 https://registry.npmjs.org/local-tld
npm http GET https://registry.npmjs.org/local-tld/-/local-tld-3.0.5.tgz
npm http 200 https://registry.npmjs.o

[2013-04-11 16:20] janl commented on #10
Sorry this is giving you so much trouble!

This means that the path `/Users/joakim/.npm/local-tld/3.0.5` isn’t accessible to the current user. This is likely a permission issue in you `~/.npm/` path.

Can you try running this:

[code]

(assuming you are the user `joakim`) and then try

[code]

again?

Note: _no_ `sudo`

[2013-04-11 16:29] cupofjoakim commented on #10
I'm getting
   chmod: Invalid file mode: joakim
on the first command.

[2013-04-11 16:33] janl commented on #10
Eh, sorry, brainfart on my end. The command is:

[code]

[2013-04-11 16:36] cupofjoakim commented on #10
Hey, it worked! Thanks @janl!

[2013-04-11 16:37] janl commented on #10
Wootwoot. Closing this one.

[2013-04-11 16:37] #10 closed, assigned to nobody

[2013-04-11 18:55] mdlawson commented on #11
Working on more or less a rewrite on my fork https://github.com/mdlawson/local-tld on the crossplatform branch.
Windows support, including a service, has been implemented so far. I will port over the existing mac service install soon, after I improve usability a bit. I plan on writing an init.d initscript and a systemd unit for linux as well.
I added a CLI interface for managing the service, which

[2013-04-11 18:57] gr2m commented on #11
wow, thanks so much for working on this @mdlawson. This is so awesome!

[2013-04-11 22:13] mdlawson commented on #11
I've added mac os support in my fork, but I have no way of testing if it works. If someone could check it out, that would be awesome.

After cloning and `npm install`ing, you should try: (needs root)

[code]

followed by

[code]

and then test if stop and remove work as well.
Error reporting is really unfriendly right now, just throws errors if encountered.

It would also be a nice to test the ser

[2013-04-12 15:34] mdlawson commented on #11
Ok, I'm fairly sure my branch has all the existing features working on windows. I've just setup a mac vm for testing macOS, so i'll get that working soon.

One concern where it probably differs at the moment is the config file. What format is it supposed to be in? My branch currently reads/writes the format:

[code]

After I've made sure everything works as expected on mac, perhaps my branch could

[2013-04-12 15:39] janl commented on #11
We key by port because they need to be unique by system. I'd say we keep that format.

As for getting this merged, there is some work on hoodie-app by @caolan that is coming in soon and I'm happy to help to get it all integrated.

I'm wondering, would you be interested in getting hoodiehq/node-multicouch going on windows as well? :)

On 12.04.2013, at 16:34, Michael Lawson notifications@github.com

[2013-04-12 15:48] mdlawson commented on #11
Just checked the readme and saw that new format. Doh! Should be trivial to switch over though.
Took a quick look over node-multicouch, doesn't look like much work to fix up. Only obvious thing I saw was "/" directory separators in path compositions all over the place, which generally just need replacing with calls to path.join().

When I'm happy with local-tld, I'll move on to that.

[2013-04-12 15:57] janl commented on #11
Woot, yay, thanks :)

On 12.04.2013, at 16:48, Michael Lawson notifications@github.com wrote:

[2013-04-12 16:57] mdlawson commented on #11
Just tested everything out on MacOS, by some miracle it all works ok. Not sure what to do about linux support really, since init systems vary by distro and its normally up to the package maintainers for the distro to sort it out. Might just leave linux with commands to start the service in the current terminal, with no daemonization. How does that sound to you?

[2013-04-12 16:58] janl commented on #11
On Apr 12, 2013, at 17:57 , Michael Lawson notifications@github.com wrote:

I’ll have a closer look at all this when I get back from my current travels early next week, I hope that’s ok :)

[2013-04-14 19:48] max-mapper opened #13 "doesn't seem to work when wifi is disabled?"
(disclaimer: i'm not sure if this is the correct repo to report this bug)

in a fresh hoodie app if I have wifi turned off or if I'm not associated with an access point doing `hoodie start` opens a browser window to `appname.dev` but chrome shows `Unable to connect to the Internet` until I turn wifi on and connect to a network

[2013-04-14 19:49] gr2m commented on #13
hmm, does it work with http://? http://appname.dev

[2013-04-14 19:51] max-mapper commented on #13
nope, cant get chrome to do it, tried an incognito window + disabled cache in dev tools and always get the error page. works fine with curl

[2013-04-14 19:52] janl commented on #13
Iirc this doesn't work with wifi off. I remember pow having a open issue for quite a while.

There might be workarounds.

On 14.04.2013, at 20:49, Gregor Martynus notifications@github.com wrote:

[2013-04-14 19:55] max-mapper commented on #13
is there a workflow for using hoodie without the automagic tld?

[2013-04-14 21:11] janl commented on #13
It's in the works. Let me get back from Dublin to review some code :)

On 14.04.2013, at 20:55, Max Ogden notifications@github.com wrote:

[2013-04-15 12:54] donaldpipowitch commented on #10
Run into the same issue which was very annoying :(

I run 3.0.5 with sudo first even if the commit message "Protect against people accidentally using `sudo npm install`." says this shouldn't be possible? After that I searched in the wrong repo for help (hoodiehq/local-tld-lib) and somewhere in the middle of fixing this with the terminal prompts I had to reinstall node... Now everything works, but

[2013-04-15 15:00] bbn commented on #10
+1
An unnecessary complication for hood.ie, and preventing the framework from being used by a lot of people.

[2013-04-15 15:15] janl commented on #10
It is early days and I understand your frustration with issues around Hoodie, but these are inevitable and the entire team is incredibly grateful for you giving Hoodie a spin and take the time to report issues that we then can fix and make the Hoodie better and better.

I very much disagree though that this is unnecessary. I agree that Hoodie should work without local-tld and we are getting close

[2013-04-15 17:36] nborwankar commented on #10
Hi Jan,

This deserves a separate discussion but can you lay out in bullet points
what you consider to be the essence of "the Hoodie experience".  I gather
that the major goal is making it drop dead simple to create apps that have
local-data-synced-with-cloud.
Now with respect to this goal is local-tld a "must-have" or
"really-really-really-nice-to-have".  I think you're saying it's the latter.
In

[2013-04-15 19:03] janl commented on #10
Not sure what needs discussing other than actual issues with the software.

Please report of anything does not work for you.

On 15.04.2013, at 19:36, Nitin Borwankar notifications@github.com wrote:

[2013-04-15 19:39] bbn commented on #10
Well, for one thing, local-tld clobbers all of the local DNS I already have set up on my machine.

[2013-04-15 19:45] janl commented on #10
Please define "local DNS".

On 15.04.2013, at 21:39, Ben Nevile notifications@github.com wrote:

[2013-04-15 20:20] bbn commented on #10
It's ok. If you are going to update hood.ie so that I can use it without local-tld, I can wait for that.

[2013-04-16 11:25] janl commented on #10
I would still like to understand what exactly the issue is, so we can fix it or document it as a limitation :)

On 15.04.2013, at 22:20, Ben Nevile notifications@github.com wrote:

[2013-04-16 15:56] nborwankar commented on #10
The issue is that if an install fails - the files are left in an unknown
state which is very hard to revert to "last known good".
It would be very very useful to have a clean uninstall script that removes
crud left by hoodie specific installation as well as dependencies via "brew
install couchdb" and "brew install nodejs".  As we speak I have a "couldn't
link erlang" error from brew install couchd

[2013-04-16 16:10] bbn commented on #10
"brew install couchdb" not working for me either -- issue here is that it can't find the file to download. I noticed that the recipe was looking for 1.2.0, and I edited it locally to look for 1.3.0 - same same.

I _do_ have couchdb on my machine (installed from the OS X installer) but hood.ie seems to require the command-line version to be present.

It might be worth mentioning that I would have r

[2013-04-16 16:21] nborwankar commented on #10
It would be good to know if anyone outside the core team has got hoodie
running and how they dealt with these issues.

---

Nitin Borwankar
nborwankar@gmail.com

On Tue, Apr 16, 2013 at 9:10 AM, Ben Nevile notifications@github.comwrote:

[2013-04-16 18:54] janl commented on #10
On Apr 16, 2013, at 18:21 , Nitin Borwankar notifications@github.com wrote:

I know plenty of people who run this without issues.

[2013-04-16 18:55] janl commented on #10
On Apr 16, 2013, at 17:56 , Nitin Borwankar notifications@github.com wrote:

This is no longer true with the 3.0.8 release of local-tld. The issues you
describe have nothing to do with hoodie.

[2013-04-16 19:39] Acconut commented on #11
I would like to see support for wildcards in local-tld on windows. I'm not sure how linux etc. handle wildcards in the hosts file but as far as I'm concerned Mac does support it.
Sadly windows doesn't so we must use a local dns server for that.

I'm going to do some research but for now this is quite interesting: http://stackoverflow.com/questions/138162/wildcards-in-a-hosts-file

I've also seen s

[2013-04-16 20:03] nborwankar commented on #10
A workaround might be - suggest a way to use an existing couchdb.

In any case the current process has hit a wall for me.
I am going to give this a shot again in a while and see how it goes, as the
promise is great.
Thanks for the patience.

---

Nitin Borwankar
nborwankar@gmail.com

On Tue, Apr 16, 2013 at 11:55 AM, Jan Lehnardt notifications@github.comwrote:

[2013-04-16 21:15] mdlawson commented on #11
Really not sure on the whole "embedded dns server" thing. Using a binary dns server would mean embedding something for windows, and probably embedding dnsmasq or requesting its installation for linux users. Both of those then need configuring and managing. This just seems horribly messy, given the existing, reasonably unified codebase.
Using a node dns server seems a bit irresponsible: A dns serve

[2013-04-16 21:30] janl commented on #10
On Apr 16, 2013, at 22:03 , Nitin Borwankar notifications@github.com wrote:

Oh, I totally understand that we are responsible for the abstractions we
are using, but Hoodie does not have the power to break your Homebrew
installation, hence my phrasing.

All Hoodie needs is a `couchdb` binary in your `PATH`.

Yeah, it is early days, we keep hammering out the issues :)

Skip the `brew install couchdb

[2013-04-16 21:32] janl commented on #10
On Apr 16, 2013, at 18:10 , Ben Nevile notifications@github.com wrote:

Can you post a log?

Yeah, I have on the radar to make it work with the binary installer of CouchDB.

Sorry for the repo-flurry, feel free to open it where, we can redirect it to better places if they exist :)

Thanks for your patience!

[2013-04-16 22:47] bbn commented on #10
Sure, here's a log:

[code]

[2013-04-16 22:51] janl commented on #10
OOOOOH, 1.2.0. That is an old release. You want to make sure your Homebrew is up to date: `brew update`

[2013-04-16 22:58] bbn commented on #10
Hey that helped! Seems to be installing now (although it _did_ complain about my xcode version). Perhaps an infrequent problem, but I recommend adding "brew update" to the sequence of install instructions for those of us who don't use homebrew very often / ever.

[2013-04-16 22:59] janl commented on #10
Lesson learned, will totally do, thanks!

The Xcode version is a warning that there is a newer version available, but as long as thing keep working you don’t necessarily have to upgrade.

[2013-04-16 23:05] janl commented on #10
Fixed in https://github.com/hoodiehq/hood.ie/commit/8e1cf9be40dc98d8729e5a78ee071d5bec7790d6 and https://github.com/hoodiehq/my-first-hoodie/commit/6af8d448672d2a1c6ae4236e82e57b1d123b578f

[2013-04-16 23:07] bbn commented on #10
huzzah! hoodie running in the browser, finally!

If I wanted to contribute a better error message for the missing couchdb case, what repo should I fork?
Here's what the error looks like now:

[code]

[2013-04-16 23:08] bbn commented on #10
PS. even after updating homebrew, the couch version installed was 1.2.1, not 1.3.0. Not sure if that's what you would expect.

[2013-04-16 23:10] janl commented on #10
I believe @caolan's fork already does this better. It is due to land later this week.

On 17.04.2013, at 01:07, Ben Nevile notifications@github.com wrote:

[2013-04-16 23:11] janl commented on #10
1.2.1 is fine.

There are reasons 1.3.0 isn't in Homebrew yet that are beyond the scope of Hoodie.

On 17.04.2013, at 01:08, Ben Nevile notifications@github.com wrote:

[2013-04-30 10:11] janl opened #14 "~/Library/LaunchDaemons or /Library/LaunchAgents might not exist"

[2013-04-30 10:28] codanator commented on #14
Hello Jan,

do you think removing the $HOME from the service.plist path would fix the install error?

[code]

[2013-04-30 10:34] janl commented on #14
hm no, the issue is a missing `mkdir -p` before copying the files.

[2013-04-30 20:56] janl opened #15 "Support custom `node` install locations"
Currently `etc/ie.hood.local-tld-firewall.plist` hardcodes `/usr/local/bin/node`. We should support `node` installed anywhere, nvm is a use-case.

Here is a catch-22: Within the postinstall script, npm adds the realpath of the node binary into PATH, hence `which node` resolves to e.g. “/usr/local/Cellar/node/0.8.19/bin/node”. If we put that into the plist, it breaks on every node update, which wou

[2013-04-30 20:59] janl commented on #15
Closing in favour of #16

[2013-05-01 20:30] Pomax commented on #11
loving the idea of being able to use this cross-platform... completely sidestepping question: would this work on windows if it has Bonjour installed on it? (comes with itunes, and certain adobe creative suit components)

[2013-05-01 21:22] mdlawson commented on #11
Interesting. I'm not familiar with bonjour, but from a very brief delve into the bonjour dev stuff (https://developer.apple.com/bonjour/) It looks relevent. I'd be interested to hear how your envisage that working.
I dont thing bonour on windows is generally well recieved by devs, but it may still be a more friendly option than changing nameservers, or messing with the users hosts file

[2013-05-01 22:16] Pomax commented on #11
I took "This uses a cool dynamic DNS system that is built into Mac OS X." to mean that is uses Bonjour, since that's the only dynamic DNS I know comes with OSX, so I figured having Bonjour available on other systems would go a long way to make things work =)

I haven't actually tried to see if it works, but I might try to see if I can get it to work tomorrow. We're using a multi-app setup using no

[2013-05-01 22:36] mdlawson commented on #11
I'm fairly sure that the current local-tld on Mac is doesn't use bonjour,
unless the way it does it is actually powered by bonjour on the back end.

If you are interested in just local-tld standalone, my fork here:
http://github.com/mdlawson/local-tld provides 2 working cross platform
options, one that uses the hosts file and is simple to use, but can't do
proper wildcard resolution on windows and

[2013-05-02 08:23] gr2m commented on #11
I'm not the guy who has build that, @janl did, but I know it was heavily inspired by pow.cx and its architecture

[2013-05-02 10:57] janl commented on #11
bonjour is irrelveant to this discussion.

Bonjour is for discovering network services, not for DNS resolution. (although that is kinda part of it).

Say local-tld creates a service on a host, one can use bonjour to find that service from other machines on the local network.

[2013-05-02 20:01] Pomax commented on #11
interesting. curious about the hinted-at OSX bit of dns coolness then, though: which component does local-tld hook into to get the job done?

[2013-05-03 10:30] janl commented on #11
`man resolver` :)

[2013-05-16 17:16] bbn opened #17 "/etc/hosts"
the rules I have set up in /etc/hosts don't work after installing local-tld.

if I "sudo ipfw flush" then they all work again.

OS X 10.8.3

sadly local-tld has been nothing but problems for me. :(

[2013-05-27 10:55] max-mapper commented on #13
any update on this? I just updated to the newest version of all the hoodie stuff but it still won't work if i'm not connected to some wifi network

[2013-05-27 10:59] gr2m commented on #13
I think that's fixed, at least it works for me™ ;-) I'm not involved in the code though

try to update local-tld and the hoodie dependencies (hoodie-app and workers).

Also the hoodie CLI tool is now an npm package as well. Remove the current one, then run `npm install -g hoodie-cli`

[2013-05-27 11:10] max-mapper commented on #13
ok I did `npm install -g hoodie-cli` and then cloned master hoodie-app, then turned off wifi and then ran `hoodie`. still get the same behavior (hoodie doesnt serve anything)

[2013-05-27 11:14] gr2m commented on #13
you're on a Mac, right? What errors do you get?

Note that the hoodie api is not api.myapp.dev anymore, it now is myapp.dev/_api. But hoodie.js should use /_api  as a default. Also make sure to update hoodie.js if the problem occurs in an older app.

Maybe just to test, could you try to create a new app with `hoode new whereisthesun`

[2013-05-27 11:20] max-mapper commented on #13
`curl http://whereisthesun.dev` returns html but chrome/safari/firefox all refuse to resolve the address unless I'm online

[2013-05-27 11:22] gr2m commented on #13
I don't know if that's what biting you, but the first time I open a newappname.dev in the browser, I've to explicitly add the `http://`. When I just put in `whereisthesun.dev` it uses it as a search term for Google.

Might that be the problem?

[2013-05-27 11:25] max-mapper commented on #13
nope, that's not it. also related issue:
https://github.com/hoodiehq/hoodie-app/issues/39

[2013-05-27 11:32] gr2m commented on #13
damn, sorry I can't help better. @janl @caolan can you help here?

I think the local-tld thing is opitonal already, but I'm not 10)% sure. But I guess that would resolve your issue, if you could just use localhost:1234 instead of the dev domains, right?

[2013-05-27 11:37] janl commented on #13
There is no solution to this. The only workaround is treating the Mac like a Linux and using localhost&ports. @caolan should be able to get you set up.

[2013-06-13 08:02] robhrt7 opened #18 "ERR! weird error 126"
Always getting this weird error installing local-tld on Mac.

https://gist.github.com/operatino/5771971

[2013-08-01 21:35] hazeledmands opened #20 "LaunchDaemon not starting"
When I `npm install -g local-tld`, the following message shows up in my `/var/log/system.log`:

[code]

...and then the service just does not work. I'm not sure how to proceed.

[2013-08-01 22:05] hazeledmands commented on #20
Ok! Answers! I'm using [Node Version Manager](https://github.com/creationix/nvm), which installs node (by default) to `~/.nvm/$NODE_VERSION/bin/node` instead of `/usr/local/bin/node`. It seems like the setup process should be able to just use whatever version of node that's running the setup script. ...writing pull request...

[2013-08-01 22:09] hazeledmands commented on #20
eek. closing in favor of #16

[2013-08-01 22:09] #20 closed, assigned to nobody

[2013-08-06 22:52] sallespromanager commented on #17
hi, i am having such a problem too.

i installed local-tld successfully and i can run the hoodie starndard app too.

the problem is my local web server is neither being capable of responding to previously configured /etc/hosts nor to 127.0.0.1.

how can we deal with this ? how can i DISABLE or uninstall local-tld ?

[2013-08-06 23:00] hazeledmands commented on #17
You should be able to disable local-tld by running `npm rm -g local-tld` -- that will run a script that should set your network settings back to the way they were before.

[2013-08-06 23:05] hazeledmands commented on #17
Actually, the uninstall script doesn't flush your ipfw settings. @bbn's `sudo ipfw flush` should work, or if you want you can run `sudo ipfw list` and then `sudo ipfw delete <number>` where `<number>` is the number of the rule that looks like this:

`<number> fwd 127.0.0.1,5999 tcp from any to me dst-port 80 in`

[2013-08-06 23:23] sallespromanager commented on #17
great. thanks for the quick reply.

Is there anyway to keep it dealing with the subdomains only ? Or just do the redirection for 600x ports instead of messing up with port 80 ?

i tried to include my root domain into `~/.local-tld.json` but it didnt work.

[2013-08-07 10:24] janl commented on #17
It’s the trade-off you need to make: use local-tld and get nice URLs without ports, but don’t get any other service going on port 80.

local-tld always needs to take over port 80, otherwise you can just use port numbers to differentiate.

Note that Hoodie doesn’t require local-tld any more, so you can just nuke it and still use Hoodie.

[2013-09-02 01:36] NV opened #22 "A workflow to serve static files"
I want to serve a directory with static files. With pow I do:

[code]

With local-tld, am I expected to run something like python `python -m SimpleHTTPServer` first?

[2013-09-02 07:10] janl commented on #22
yes, or some node http server. local-tld merely does mapping of nice urls to ip addresses, not file serving.

[2013-09-02 07:10] #22 closed, assigned to nobody

[2013-09-10 08:59] ghost opened #23 "Publish 4.0 to npm?"
Hi,

Can you push 4.0 to npm?

Thanks

[2013-09-10 11:19] svnlto commented on #23
maybe also start tagging things?

[2013-09-10 19:10] janl commented on #23
Done both.

[2013-09-10 19:10] #23 closed, assigned to nobody

[2013-09-11 06:43] findesk commented on #23
Thank you!

[2013-11-19 19:51] jareddbc opened #24 "support for multiple apps on the same domain"
I would love to see this work:

[code]

It's great for testing cross domain app interactions

[2013-11-20 15:13] janl commented on #24
This looks like the core functionality :) What am I missing?

[2014-01-23 12:02] #24 closed, assigned to nobody

[2014-01-23 12:02] #17 closed, assigned to nobody

[2014-01-23 12:04] #15 closed, assigned to nobody

[2014-01-23 12:04] #13 closed, assigned to nobody

[2014-01-23 12:05] #5 closed, assigned to nobody

[2014-05-19 23:28] iheanyi commented on #10
Sorry to re-open this, but I'm encountering the same issue with local-tld.
Here's the log

[code]

[2014-05-20 07:57] Cengkaruk opened #25 "sudo: incorrect password attempts"
Trying to install local-tld with this command. I use sudo for install at /usr/local/lib
But the post-install script ask me to enter sudo password again. Same password but failed.

[code]

Whats wrong? Try install npm without sudo and i got this error.

[code]

[2014-05-20 07:59] janl commented on #25
local-tld can’t be installed when running under sudo. Try this:

[code]

[2014-05-20 07:59] janl commented on #25
The note about running this as an administrator again is from npm and there is nothing we can do about it, but it is misleading :/

[2014-05-20 08:00] janl commented on #10
local-tld can’t be installed when running under sudo. Try this:

[code]

[2014-05-20 08:04] Cengkaruk commented on #25
Aaah. Solved. Thanks.
I need change ownership of node_modules. Btw, some npm module use sudo for -g option :|

[2014-05-20 08:07] janl commented on #25
once node_modules is changed to your user, you don’t ever need sudo again :)

[2014-05-20 08:08] #25 closed, assigned to nobody

[2014-05-21 02:33] iheanyi commented on #10
Hm, weird. That finally fixed it, though I tried it before. Thanks @janl!

[2014-05-26 17:09] allaire commented on #5
just got bit by that.

Currently to make my vhosts work, I do:

`launchctl unload ~/Library/LaunchAgents/ie.hood.local-tld-service.plist && sudo ipfw flush`

And to make local-tld work, I do:

`npm install -g local-tld`

Is there anything simplier/cleaner?

Current aliases:

[code]

or

[code]

No idea which one is 'cleaner'... @espy just `sudo ipfw flush` is not enough, you also have to stop the

[2014-05-26 17:49] allaire commented on #5
I can PR some doc in the README with the cleaner aliases set above if you want, let me know which aliases you prefer!

[2014-05-26 21:14] janl commented on #5
sure, why not! :)

[2014-05-27 00:00] allaire commented on #5
@janl Which ones? :) Also is it normal that a simple `sudo ipfw flush` does not turn it off? I thought everything was passing by the firewall rule?

[2014-05-27 08:38] janl commented on #5
How about this?

[code]

[2014-05-27 14:12] allaire commented on #5
That seems good. @janl Why do we  have to stop the service in order to turn it off?

[2014-05-27 14:14] janl commented on #5
how else would you turn it off? :) this is the equivalent of `apachectl stop`.

[2014-05-27 14:16] allaire commented on #5
Well, if the firewall don't route any traffic to it (by doing `sudo ipfw flush`), how come it's still working? :)

[2014-05-27 14:19] janl commented on #5
sounds like that shouldn’t happen in fact.

[2014-05-27 14:36] allaire commented on #5
My thoughts exactly, that's why I'm wondering why the service should also be stopped!

[2014-05-27 14:38] janl commented on #5
can you double check that you can actually repeat this? I’ve never seen it :)

[2014-05-27 14:43] allaire commented on #5
Yes, only `sudo ipfw flush` does not release 127.0.0.1 to apache, can you try it too?

[2014-05-27 14:45] janl commented on #5
sorry, no time atm :)

[2014-06-12 02:41] allaire opened #26 "Compatibility with Yosemite"
Might be interesting to follow what come up here: https://github.com/basecamp/pow/issues/452

ipfw is removed from yosemite, so we might have to backport some of the suff in pow again!

[2014-06-12 06:20] janl commented on #26
Wo, thanks for the heads up!

[2014-08-17 16:05] brndnblck commented on #26
Maybe just use pow's port proxy feature and call it a day for `local-tld`?

http://pow.cx/manual.html#section_2.1.4

[code]

[2014-08-18 06:46] janl commented on #26
@brandonblack I love pow, but the reason for me to have local-tld is a pure Node solution, as that makes the installation story for our users a lot simpler. Not saying pow or Ruby are particularly difficult, it’s just another thing that has different conventions and all that, hence my “clone” :)

[2014-08-20 20:37] sjelfull opened #28 "Connection refused"
Okay, running on Lion, and got two problems.

First, it doesn't seem like I could get it to run properly. I'm using MAMP, running on port 80, where I have many sites.

I installed via npm install -g, as expected.

I tried adding one of them:
{
  "80": {
    "name": "app"
  }
}

I'm unable to connect.

$ telnet app.dev 80
Trying 127.0.0.1...
telnet: connect to address 127.0.0.1: Connection refused

[2014-08-20 22:36] sjelfull commented on #28
I'm seeing this in Console log:

20/08/14 23:31:15,183 com.apple.launchd.peruser.501[298]: (ie.hood.local-tld-service[36442]) Job failed to exec(3). Setting up event to tell us when to try again: 2: No such file or directory
20/08/14 23:31:15,183 com.apple.launchd.peruser.501[298]: (ie.hood.local-tld-service[36442]) Job failed to exec(3) for weird reason: 2

[2014-08-22 13:15] sjelfull commented on #28
Thanks to some lovely help on IRC, it turns out the missing piece was to flush all rules with
`ipfw flush`

ipfw is deprecated, so pfctl -F all seems to do the same thing.

[2014-08-22 13:41] gr2m commented on #28
@sjelfull can we close this issue?

[2014-08-22 13:54] sjelfull commented on #28
@gr2m Yep, do it.

[2014-08-22 13:54] #28 closed, assigned to nobody

[2014-10-20 06:22] tv commented on #26
Here are quick steps to get local-tld working in Yosemite. I don't have time right now to make fix but needed this working asap, so had to tinker around. Hope this saves some time from someone else.

### /etc/pf.anchors/local.dev

[code]

### /etc/pf.conf

After rdr-anchor "com.apple" add

[code]

Bottom of the file add

[code]

### Restart PF

[code]

[2014-10-21 14:48] servel333 commented on #26
This worked to get local-tld working for me, however is it normal to get these warnings?

[code]

[2014-10-21 15:04] tv commented on #26
As far as I know, these are completely normal. It just informs that some pf functions are unavailable under OS X kernel. However, we don't even need those functions, so you can safely ignore the warnings.

[2014-10-21 15:05] servel333 commented on #26
Perfect. Thanks.

[2014-10-24 04:34] hnrch02 commented on #26
Thanks for the workaround @tv, but every time I restart my system I need to enter both `sudo pfctl -f /etc/pf.conf` and `sudo pfctl -e` again. Is there some way to avoid that?

[2014-10-27 14:56] tv commented on #26
You will need to create LaunchDaemon to handle pf startup at launch time. I rarely restart my system, so didn't bother to create this. Check local-tld-firewall.plist for reference.

[2014-10-28 00:32] hnrch02 commented on #26
@tv Thanks!

[2014-11-02 15:04] bobthecow commented on #18
This looks like it might be #14?

[2014-12-29 21:51] #26 closed, assigned to nobody

[2015-04-05 15:51] JamesKyburz commented on #26
Thx for this!

[2015-04-22 21:48] Breefield opened #35 "gulp-connect + local-tld"
I'm using gulp connect to serve, like so:
[code]
Which works fine for accessing localhost:5000, however I'm adding local-tld.
So it registered itself:
[code]
And my ```~/.local-tld.json``` is updated, however—http://PACKAGE_NAME.dev won't load assets, it only works when I access http://PACKAGE_NAME.dev:5000.

So it seems local-tld isn't routing the name to the port correctly, simply aliasing local

[2015-04-22 22:09] Breefield commented on #35
Decided to use pow.cx's port proxy feature.

[2015-04-22 22:09] #35 closed

[2015-07-27 20:32] xizhao commented on #26
This doesn't seem to fix it on Yosemite for me, I still had to do the manual workaround.

[2016-04-07 17:22] jeffreywescott opened #38 "no longer supported?"
Seems like most of the issues here are from 2013.

On my machine, local-tld no longer seems to work. OS X El Capital 10.11.4. It seems to recognize the name, but hte port mapping isn't working.

[code]